/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap'); /*
===============
Variables
===============
*/

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --secondary-cyan: hsl(180, 83%, 70%);
  --primary-dark-violet: hsl(257, 27%, 26%);

  --secondary-red: hsl(0, 87%, 67%);

  --white: hsl(0, 0%, 100%);
  --my-gray: hsl(225, 33%, 95%);
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-very-dark-violet: hsl(260, 17%, 17%);

  --ff-primary: 'Poppins', sans-serif;
}

/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: var(--ff-primary);
  font-size: 18px;
  transition: 0.3s all ease-in;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  min-height: 100vh;
}

input:focus,
input:active {
  outline: none;
}

main {
  padding-top: 1rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .section-center {
    width: 80vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--white);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-logo {
  width: 8rem;
}
.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: var(--neutral-grayish-violet);
}

.links {
  background-color: var(--primary-dark-violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem 0;
}
.links a {
  color: white;
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  padding: 1rem;
}
.underline-connect {
  height: 2px;
  border-left: 18rem solid var(--neutral-gray);
}
/* @media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
} */

/*
===============
Header
===============
*/
header {
  margin-bottom: 1rem;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-center .header-logo {
  width: 8rem;
}

.menu-icon {
  size: 2rem;
  color: var(--neutral-grayish-violet);
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-cyan);
  color: var(--white);
  font-size: 1rem;
  font-family: var(--ff-primary);
}

.btn:hover {
  background-color: var(--secondary-cyan);
  transform: scale(1.05);
}

.form .btn:hover {
  transform: scale(1);
}
/*
===============
Hero
===============
*/

.hero-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  position: relative;
  overflow: hidden;
  padding-left: 2rem;
}

.hero-img img {
  max-width: 100%;
  transition: all 0.3s;
  height: auto;
  transform: scale(1);
}

.hero-center h1 {
  font-size: 2.3rem;
  text-align: center;
  color: var(--neutral-very-dark-blue);
}

.hero-center p {
  font-size: 1.1rem;
  text-align: center;
  color: var(--neutral-grayish-violet);
  margin-bottom: 2rem;
}

.btn-primary {
  border-radius: 2rem;
  max-width: 12rem;
  cursor: pointer;
}

.btn-top {
  margin-bottom: 8rem;
}

@media screen and (min-width: 900px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    width: 80vw;
    margin: 0 auto;
    margin-top: 5rem;
    height: 25rem;
  }

  .hero-center {
    align-items: flex-start;
    max-width: 36rem;
  }

  .hero-center h1 {
    font-size: 2.5rem;
    text-align: left;
  }
  .hero-center p {
    text-align: left;
    font-size: 1rem;
  }

  .btn-primary {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 30rem;
  }
  .hero-center h1 {
    font-size: 3.5rem;
    text-align: left;
  }
  .hero-center p {
    text-align: left;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1480px) {
  .hero {
    height: 35rem;
  }
}

/*
===============
Form
===============
*/

.shortener {
  position: relative;
}

.form {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-dark-violet);
  padding: 1.5rem;
  border-radius: 1rem;
}

.form input {
  width: 100%;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: var(--ff-primary);
  font-size: 1rem;
}

.form input::placeholder {
  color: var(--neutral-gray);
}

.form .invalid {
  border: 2px solid var(--secondary-red);
}

.form p {
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  align-self: flex-start;
  color: var(--secondary-red);
  font-size: 1rem;
  font-style: italic;
  visibility: hidden;
}

.form .invalid-text {
  visibility: visible;
}

.form button {
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

/*
===============
Info
===============
*/

.info {
  background-color: var(--my-gray);
}

.info-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
}

.info-title {
  padding-top: 8rem;
  margin-bottom: 5rem;
}

.info-title h1,
.info-item h2 {
  margin-bottom: 1rem;
}

.info-title p,
.info-item p {
  color: var(--neutral-grayish-violet);
  font-size: 1rem;
}

.info-item {
  position: relative;
  background-color: var(--white);
  padding: 4rem 2rem 2rem 2rem;
}

.info-item h2 {
  font-size: 1.5rem;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  background-color: var(--primary-dark-violet);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.info-item-logo {
  width: 3rem;
  height: 3rem;
}

.info-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  height: 7rem;
  border-left: 0.5rem solid var(--primary-cyan);
}

.info-links {
  margin-top: 7rem;
  width: 100%;
}

.info-link {
  background-color: var(--white);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.full-link {
  border-bottom: 1px solid var(--neutral-gray);
  padding: 0.5rem 1rem;
  text-align: start;
  color: var(--neutral-very-dark-blue);
  font-size: 1rem;
  word-wrap: break-word;
}

.short-link {
  padding: 0.5rem 1rem;
  text-align: start;
  color: var(--primary-cyan);
  font-size: 1rem;
}

.btn-copy {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.btn-copy:hover {
  transform: scale(1);
}

@media screen and (min-width: 900px) {
  .info-title {
    padding-top: 12rem;
  }

  .info-items {
    flex-direction: row;
    justify-content: space-between;
    height: 20rem;
  }
  .info-item-top {
    align-self: flex-start;
  }

  .info-item-bottom {
    align-self: flex-end;
  }

  .underline {
    width: 8rem;
    height: 0.5rem;
    border-left: none;
    border-bottom: 0.5rem solid var(--primary-cyan);
  }
}
/*
===============
Boost
===============
*/

.boost {
  background-image: url('./images/bg-boost-mobile.svg');
  background-repeat: repeat-y;
  background-color: var(--primary-dark-violet);
  height: 16rem;
  display: grid;
  place-items: center;
}

@media screen and (min-height: 700px) {
  .boost {
    background-image: url('./images/bg-boost-desktop.svg');
    height: 15rem;
  }
}

.boost-center {
  text-align: center;
}

.boost-center h1 {
  color: var(--white);
  margin-bottom: 1rem;
}

/*
===============
Footer
===============
*/

footer {
  background-color: var(--neutral-very-dark-violet);
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-logo h1 {
  color: var(--white);
}

.footer-links {
  color: var(--white);
}

.footer-links > ul > li:first-child {
  font-size: 1rem;
  margin: 1rem 0;
  color: var(--white);
  cursor: auto;
}

.footer-links > ul > li {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: var(--neutral-gray);
  cursor: pointer;
}

.footer-social {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

@media screen and (min-width: 900px) {
  .footer-center {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
